html {
    height:100%;
}

body {
    height: inherit;
    margin: 0;
}

header {
    background-color: #85C1E9;
    font-size: 20px;
}

h1{
    margin: 10px;
}

form.forms{
    text-align: center;
}


ul{
    list-style-type: none;
    text-align: center;
}

ul li{
    margin: 10px;
}

ul#foot{
    list-style: none;
    text-align: center;
    display: inline-block;
    background-color:#85C1E9;
    width: 100%;
}

ul.lists{
    text-align: left;
}

ul.prAlta{
    text-align: left;
    display: flex;
    background-color: red;
}

ul.prMedia{
    text-align: left;
    display: flex;
    background-color: yellow;
}

ul.prBaja{
    text-align: left;
    display: flex;
    background-color: green;
}

div.form-floating{
    margin-top: 10px;
}

div.row-cols-lg-auto{
    margin-top: 10px;
}

h3{
    font-size: 20px;
}

#edit-bg {
    background-color: #0005;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

#edit-dialog {
    background-color: white;
    padding: 1em;
    border-radius: 0.5em;
}

#filter {
    background-color: antiquewhite;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
}

#leyenda {
    display: flex;
    align-items: center;
    padding: 0.5em 0;

    label {
        margin: 0 1em;
    }
}

.rectangle {
    height: 1em;
    width: 1em;
    border-radius: 0.3em;
}