<div class="container">
    <div class="row">
        <div class="row">
            <h1>Foro de Reclamos</h1>
        </div>
        <!-- formulario para el reclamo -->
        <form [formGroup]="formulario" (ngSubmit)="enviarTicket()" class="forms" novalidate>
            <h2>Formulario de Reclamo</h2>
            
            <div class="form-floating">
                <input class="form-control" id="asunto" formControlName="asunto" type="text">
                <label class="form-label"  for="asunto">Asunto</label>
            </div>
            
            <div class="form-floating">
                <textarea class="form-control" id="descripcion" formControlName="descripcion" name="descripcion"  rows="20"></textarea>
                <label class="form-label" for="descripcion">Descripcion</label>
            </div>
            
            <div class="form-floating">
                <select class="form-select" id="categoria" aria-label="Categoría" formControlName="categoria">
                    <option selected value="">Seleccionar...</option>
                    <option value="0">Solicitud Generica</option>
                    <option value="1">Solicitud de Cambio</option>
                    <option value="2">Incidente</option>
                    <option value="3">Problema</option>
                    <option value="4">Solicitud de Hardware</option>
                    <option value="5">Solicitud de Software Nuevo</option>
                </select>
                <label class="form-label" for="categoria">Categoría</label>
            </div>
            
            <div class="form-floating">
                <select class="form-select" id="prioridad" aria-label="Prioridad" formControlName="prioridad">
                    <option selected value="">Seleccionar...</option>
                    <option value="2">Alta</option>
                    <option value="1">Media</option>
                    <option value="0">Baja</option>
                </select>
                <label class="form-label" for="prioridad">Prioridad</label>
            </div>
            
            <div class="row row-cols-lg-auto">
                <div>
                    <button class="btn btn-primary" type="submit">Enviar</button> &nbsp;
                    <button class="btn btn-secondary" type="reset">Limpiar</button>
                </div>
            </div>
        </form>
        <!-- Listas de los reportes de solicitudes genericas -->
        <h2 id="reclamos">Tickets publicados</h2>
        <ul class="lists">
            <h3>Solicitudes Genericas</h3>
            <ul *ngFor="let item of tickets">
                <div *ngIf="item.categoria == 0" class="ticket pr{{item.prioridad}}">
                    <p>Ticket #{{item.id}}</p>
                    <h2>{{item.asunto}}</h2>
                    <p>{{item.descripcion}}</p>
                    <div class="ticket-info">
                        <h3 *ngIf="item.estado == 0">Estado: Abierto</h3>
                        <h3 *ngIf="item.estado == 1">Estado: En desarrollo</h3>
                        <h3 *ngIf="item.estado == 2">Estado: Cerrado</h3>
                        <p>RUT del Autor: {{item.autor}}</p>
                    </div>

                    <div *ngIf="item.respuesta.length != 0"  class="ticket-response"> 
                        <h3>Respuesta</h3>
                        <p style="font-style: italic;">
                            {{item.respuesta}}
                        </p>
                    </div>
                </div>
            </ul>
        </ul>
        <!-- Listas de los reportes de solicitudes de cambio -->
        <ul class="lists">
            <h3>Solicitudes de Cambio</h3>
            <ul *ngFor="let item of tickets">
                <div *ngIf="item.categoria == 1" class="ticket pr{{item.prioridad}}">
                    <p>Ticket #{{item.id}}</p>
                    <h2>{{item.asunto}}</h2>
                    <p>{{item.descripcion}}</p>
                    <div class="ticket-info">
                        <h3 *ngIf="item.estado == 0">Estado: Abierto</h3>
                        <h3 *ngIf="item.estado == 1">Estado: En desarrollo</h3>
                        <h3 *ngIf="item.estado == 2">Estado: Cerrado</h3>
                        <p>RUT del Autor: {{item.autor}}</p>
                    </div>

                    <div *ngIf="item.respuesta.length != 0"  class="ticket-response"> 
                        <h3>Respuesta</h3>
                        <p style="font-style: italic;">
                            {{item.respuesta}}
                        </p>
                    </div>
                </div>
            </ul> 
        </ul>
        <!-- Listas de los reportes de incidentes -->
        <ul class="lists">
            <h3>Incidentes</h3>
            <ul *ngFor="let item of tickets">
                <div *ngIf="item.categoria == 2" class="ticket pr{{item.prioridad}}">
                    <p>Ticket #{{item.id}}</p>
                    <h2>{{item.asunto}}</h2>
                    <p>{{item.descripcion}}</p>
                    <div class="ticket-info">
                        <h3 *ngIf="item.estado == 0">Estado: Abierto</h3>
                        <h3 *ngIf="item.estado == 1">Estado: En desarrollo</h3>
                        <h3 *ngIf="item.estado == 2">Estado: Cerrado</h3>
                        <p>RUT del Autor: {{item.autor}}</p>
                    </div>

                    <div *ngIf="item.respuesta.length != 0"  class="ticket-response"> 
                        <h3>Respuesta</h3>
                        <p style="font-style: italic;">
                            {{item.respuesta}}
                        </p>
                    </div>
                </div>
            </ul> 
        </ul>
        <!-- Listas de los reportes de problemas -->
        <ul class="lists">
            <h3>Problemas</h3>
            <ul *ngFor="let item of tickets">
                <div *ngIf="item.categoria == 3" class="ticket pr{{item.prioridad}}">
                    <p>Ticket #{{item.id}}</p>
                    <h2>{{item.asunto}}</h2>
                    <p>{{item.descripcion}}</p>
                    <div class="ticket-info">
                        <h3 *ngIf="item.estado == 0">Estado: Abierto</h3>
                        <h3 *ngIf="item.estado == 1">Estado: En desarrollo</h3>
                        <h3 *ngIf="item.estado == 2">Estado: Cerrado</h3>
                        <p>RUT del Autor: {{item.autor}}</p>
                    </div>

                    <div *ngIf="item.respuesta.length != 0"  class="ticket-response"> 
                        <h3>Respuesta</h3>
                        <p style="font-style: italic;">
                            {{item.respuesta}}
                        </p>
                    </div>
                </div>
            </ul> 
        </ul>
        <!-- Listas de los reportes de solicitudes de hardware -->
        <ul class="lists">
            <h3>Solicitud de Hardware</h3>
            <ul *ngFor="let item of tickets">
                <div *ngIf="item.categoria == 4" class="ticket pr{{item.prioridad}}">
                    <p>Ticket #{{item.id}}</p>
                    <h2>{{item.asunto}}</h2>
                    <p>{{item.descripcion}}</p>
                    <div class="ticket-info">
                        <h3 *ngIf="item.estado == 0">Estado: Abierto</h3>
                        <h3 *ngIf="item.estado == 1">Estado: En desarrollo</h3>
                        <h3 *ngIf="item.estado == 2">Estado: Cerrado</h3>
                        <p>RUT del Autor: {{item.autor}}</p>
                    </div>

                    <div *ngIf="item.respuesta.length != 0"  class="ticket-response"> 
                        <h3>Respuesta</h3>
                        <p style="font-style: italic;">
                            {{item.respuesta}}
                        </p>
                    </div>
                </div>
            </ul> 
        </ul>
        <!-- Listas de los reportes de solicitudes de cambio de software -->
        <ul class="lists">
            <h3>Solicitud de Software Nuevo</h3>
            <ul *ngFor="let item of tickets">
                <div *ngIf="item.categoria == 5" class="ticket pr{{item.prioridad}}">
                    <p>Ticket #{{item.id}}</p>
                    <h2>{{item.asunto}}</h2>
                    <p>{{item.descripcion}}</p>
                    <div class="ticket-info">
                        <h3 *ngIf="item.estado == 0">Estado: Abierto</h3>
                        <h3 *ngIf="item.estado == 1">Estado: En desarrollo</h3>
                        <h3 *ngIf="item.estado == 2">Estado: Cerrado</h3>
                        <p>RUT del Autor: {{item.autor}}</p>
                    </div>

                    <div *ngIf="item.respuesta.length != 0"  class="ticket-response"> 
                        <h3>Respuesta</h3>
                        <p style="font-style: italic;">
                            {{item.respuesta}}
                        </p>
                    </div>
                </div>
            </ul> 
        </ul>
    </div>
</div>
<footer>
    <ul id="foot">
        <li>+971232312</li>
        <li>empresa@reclamos.cl</li>
        <li><a href="/backend/index.php?logout">Cerrar Sesion</a></li>
    </ul>
</footer>
