html {
    height:100%;
}

body {
    height: inherit;
    margin: 0;
}

header {
    background-color: #85C1E9;
    font-size: 20px;
}

h1{
    margin: 10px;
}

form.forms{
    text-align: center;
}


ul{
    list-style-type: none;
    text-align: center;
}

ul li{
    margin: 10px;
}

ul#foot{
    list-style: none;
    text-align: center;
    display: inline-block;
    background-color:#85C1E9;
    width: 100%;
}

ul.lists{
    text-align: left;
}

.ticket {
    display: flex;
    margin: 0.5em;
    flex-direction: column;
    padding: 1em;

    h2 {
        padding-bottom: 0.5em;
        border-bottom: 1px solid black;
    }
}

.pr2{
    text-align: left;
    display: flex;
    background-color: red;
}

.pr1{
    text-align: left;
    display: flex;
    background-color: yellow;
}

.pr0{
    text-align: left;
    display: flex;
    background-color: green;
}

div.form-floating{
    margin-top: 10px;
}

div.row-cols-lg-auto{
    margin-top: 10px;
}

h3{
    font-size: 20px;
}