<div class="container">
    <div class="row">
        <h1>Foro de Reclamos</h1>
    </div>
    <div class="row"></div>
        <form [formGroup]="formulario" class="forms" (ngSubmit)="registrarUsuario()">
            <h2>Formulario de Registro</h2>
            <ul id="forms1">
                <li>
                    <label class="form-label" for="nombre_usuario">Nombre de Usuario</label>
                    <input class="form-control" type="text" formControlName="nombre_usuario">
                </li>
                <li>
                    <label class="form-label" for="nombres">Nombres</label>
                    <input class="form-control" type="text" formControlName="nombres">
                </li>
                <li>
                    <label class="form-label" for="apellidos">Apellidos</label>
                    <input class="form-control" type="text" formControlName="apellidos">
                </li>
                <li>
                    <label class="form-label" for="rut">Rut (Sin puntos ni digito verificador)</label>
                    <input class="form-control" type="number" formControlName="rut">
                </li>
                <li>
                    <label class="form-label" for="password">Contraseña</label>
                    <input class="form-control" type="password" formControlName="password">
                </li>
                <li>
                    <label class="form-label" for="conf_password">Confirmar Contraseña</label>
                    <input class="form-control" type="password" formControlName="conf_password">
                </li>
                <li>
                    <label class="form-label" for="correo">Correo Electronico</label>
                    <input class="form-control" type="mail" formControlName="correo">
                </li>
                <li>
                    <label class="form-label" for="direccion">Direccion</label>
                    <input class="form-control" type="text" formControlName="direccion">
                </li>
                <li>
                    <label class="form-label" for="region">Region</label>
                    <select class="form-select" aria-label="Region" formControlName="region">
                        <option selected value="">Seleccionar..</option>
                        <ng-container *ngFor="let region of regiones">
                            <option value="{{region.id}}">{{region.nombre}}</option>
                        </ng-container>
                    </select>
                </li>
                <li>
                    <label class="form-label" for="comuna">Comuna</label>
                    <select class="form-select" aria-label="Comuna" formControlName="comuna">
                        <option selected value="">Seleccionar..</option>
                        <ng-container *ngFor="let comuna of comunas">
                            <option value="{{comuna.id}}">{{comuna.nombre}}</option>
                        </ng-container>
                    </select>
                </li>
                <li>
                    <button class="btn btn-danger" type="submit">Registrarse</button>
                </li>
            </ul>
        </form>
</div>
<footer>
    <ul id="foot">
        <li>+971232312</li>
        <li>empresa@reclamos.cl</li>
        <li>redes sociales </li>
    </ul>
</footer>

