form{
    text-align: center;
}

ul li{
    list-style-type: none;
    margin-top: 10px;
}

ul#foot{
    list-style: none;
    text-align: center;
    display: inline-block;
    background-color:#85C1E9;
    width: 100%;
}